letsencrypt:
  config: |
    server = https://acme-v01.api.letsencrypt.org/directory
    email = webmaster@example.com
    authenticator = webroot
    webroot-path = /var/lib/www
    agree-tos = True
    renew-by-default = True
  domainsets:
    www:
      - example.com
      - www.example.com
      - api.example.com
  webroots:
    example.com: /var/lib/www/example
    www.example.com: /var/lib/www/example
    api.example.com: /var/lib/www/example-api